/* ==========================================================================
   FOOTER
   ========================================================================== */
footer {
    padding: 60px 0 50px;
    background: #534293;
    font-family: "Red Hat Display", sans-serif;
}

.footer-title {
    margin: 30px 0 0;
}
.footer-title h6 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 25px;
    color: white;
}

.footer-title p {
    color: white;
}

.footer-title ul {
    padding: 0;
    margin: 0;
}
.footer-title ul li {
    list-style: none;
}
.footer-title ul li a {
    color: #ffffff;
    line-height: 1.8;
}

.copyright {
    text-align: center;
    padding: 70px 0 0;
}

.soc-med .fb,
.soc-med .ig {
    text-decoration: none;
    color: white;
    font-size: 32px;
    margin-right: 25px;
}

.soc-med .fb:hover {
    color: #4367b5;
}

.soc-med .ig:hover {
    color: #e4405f;
}

/* 
.footer-logo-facebook {
    width: 40px;
    height: 40px;
    background: url(../images/facebook1.png);
    background-size: contain;
    margin: 0 !important;
}
.footer-logo-facebook:hover {
    width: 40px;
    height: 40px;
    background: url(../images/facebook2.png);
    background-size: contain;
    margin: 0 !important;
}

.footer-logo-instagram {
    width: 40px;
    height: 40px;
    background: url(../images/instagram2.png);
    background-size: cover;
    margin: 0 !important;
    padding: 0 !important;
}

.footer-logo-instagram:hover {
    width: 40px;
    height: 40px;
    background: url(../images/instagram1.png);
    background-size: cover;
    margin: 0 !important;
    padding: 0 !important;
} */
