.hero {
    font-family: "Red Hat Display", sans-serif;
    background: url("../images/jumbotron-1.png");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    /* padding-top: 10vh; */
    position: relative;
    overflow: hidden;
}

.ungu-ungu {
    /* height: 100vh;
    width: 50%; */
    background: #534293;
    border-radius: 50px;
    transform: rotate(34.68deg);
    position: absolute;
    width: 1078.54px;
    height: 1078.54px;
    left: -410.34px;
    top: -100px;
    z-index: 1;
}

.hero-txt {
    z-index: 2;
    color: white;
    position: relative;
    top: 30vh;
    left: 10vh;
    /* border: 1px solid red; */
}

.hero-txt h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 95px;
}

.hero-txt h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
    width: 25%;
}

.hero-btn {
    background: #534293;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
    color: white;
    padding: 8px 25px;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 700;
}

/* ============================ JUMBOTRON END ============================ */

.section-home {
    padding: 100px 0;
    font-family: "Red Hat Display", sans-serif;
}

.section-home h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #534293;
}

.section-home h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #6e6e6e;
}

.section-home .card {
    min-height: 230px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: transparent;
}

.section-home .card h5 {
    min-height: 50px;
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #534293;
}

.section-home .card p {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #5a5a5a;
}

.section-home-icon {
    margin-bottom: 20px;
    margin-top: -80px;
}

.section-home .row {
    row-gap: 75px;
    margin-top: 140px;
}

/* ============================ SECTION HOME END ============================ */

.section-robot-bg {
    background: rgba(83, 66, 147, 0.2);
    height: 50vh;
    margin-bottom: 400px;
}

.section-robot {
    margin: 50px auto;
    padding: 25px 0;
    text-align: center;
    font-family: "Red Hat Display", sans-serif;
    position: relative;
}

.section-robot h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;

    color: #534293;
}

.robot-slider {
    margin-top: 100px;
}

.robot-slider-img {
    margin-top: -70px;
}

.robot-slider-bg {
    background: url("../images/card-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 500px;
    /* text-align: right; */
    /* border: 1px solid red; */
    width: 100%;
}

.robot-slider-bg h3 {
    text-align: left;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #ffffff;
    margin-left: 15px;
}

.robot-slider-bg p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-align: left;
    margin-left: 15px;
}

.robot-slider-btn {
    background: #534293;
    border: 2px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 231.27px;
    padding: 15px 0;
    margin: 0 auto;
    font-size: 18px;
    color: #ffffff;
}

.robot-slider-detail {
    background: #534293;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: transparent;
    width: 675px;

    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    padding: 15px 0;
    margin: 50px auto;
}

/* ============================ SECTION ROBOT END ============================ */

.section-step {
    /* border: 1px solid red; */
    font-family: "Red Hat Display", sans-serif;
    text-align: center;
    padding: 25px 0;
}

.section-step h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #534293;
}

.section-step h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #6e6e6e;
    width: 70%;
    margin: 20px auto;
}

.section-step .card {
    /* min-height: 500px; */
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: transparent;
}

.section-step-icon {
    margin-top: -69px;
}

.section-step-img {
    height: 250px;
    margin: 15px auto 25px auto;
}

.section-step .card-body p {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */

    text-align: center;

    color: #534293;
}

.subscribe-btn {
    width: 675px;
    background: #534293;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: transparent;
    padding: 18px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
}

/* ============================ SECTION STEP END ============================ */

.swiper-container {
    width: 100%;
    height: 100%;
    margin: 150px auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* ROBOT CAROUSEL */

.robot-carousel-img {
    /* margin-top: -20px; */
    /* height: 200px; */
    width: 180px;
    /* border: 1px solid red; */
    position: relative;
    top: 0;
    right: 60px;
}

.robot-carousel-bg {
    background: url("../images/card-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 500px;
    width: 500px;
    /* text-align: right; */
    /* border: 1px solid red; */
    position: relative;
}

.robot-carousel-bg h3 {
    text-align: left;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #ffffff;
    margin-left: 75px;
    /* padding: 3px 80px; */
}

.robot-carousel-bg p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-align: left;
    /* margin-left: 15px; */
    padding: 3px 80px;
}

.robot-carousel-btn {
    background: #534293;
    border: 2px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 231.27px;
    padding: 15px 0;
    margin: 0 auto;
    font-size: 18px;
    color: #ffffff;
}

.swiper-wrapper {
    /* border: 1px solid red; */
    font-family: "Red Hat Display", sans-serif;

    /* padding: 50px; */
}

.swiper-container {
    overflow: unset;
}

.swiper-button-next,
.swiper-button-prev {
    color: #534293 !important;
}

.testi-content_block {
    z-index: 10;
    text-align: left;
}
.testi-content_block img {
    margin: 0 0 40px;
}
.testi-content_block h3 {
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 26px;
}
@media (max-width: 768px) {
    .testi-content_block h3 {
        font-size: 24px;
    }
}
.testi-content_block span {
    font-size: 18px;
    font-weight: 500;
    color: #cc41ff;
}

.testi-img_wrap {
    width: 100%;
    text-align: right;
    margin-top: -250px;
}

@media screen and (max-width: 990px) {
    .testi-img_wrap {
        margin-top: 0;
        text-align: center;
    }
}

.bg-testi-sewarobot {
    z-index: -2;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

@media screen and (max-width: 1366px) {
    .ungu-ungu {
        transform: rotate(30.68deg);
        left: -610.34px;
    }
}

@media screen and (max-width: 425px) {
    .hero {
        background: url("../images/jumbotron-mb.png");
        min-height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .robot-slider-detail,
    .subscribe-btn {
        width: 100%;
    }
    .ungu-ungu {
        transform: rotate(40.68deg);
        left: -920.34px;
    }

    .hero-txt {
        top: 35vh;
        left: 3vh;
    }

    .hero-txt h1 {
        font-size: 24px;
        line-height: 32px;
    }

    .hero-txt h5 {
        font-size: 16px;
        line-height: 21px;
        text-align: left;
        width: 70%;
    }

    .hero-btn {
        margin-top: 20px;
    }

    /* ============================ JUMBOTRON END ============================ */

    .section-home {
        padding: 50px 0;
    }

    .section-home h2 {
        font-size: 18px;
        line-height: 24px;
    }

    .section-home h4 {
        font-size: 16px;
        line-height: 21px;
        width: 80%;
        margin: 0 auto;
    }

    .section-home .card {
        min-height: 180px;
        background: #ffffff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        border: transparent;
    }

    .section-home .row {
        row-gap: 65px;
        margin-top: 50px;
    }

    .section-home .card h5 {
        font-size: 14px;
        line-height: 19px;
        min-height: 20px;
    }

    .section-home .card p {
        font-size: 14px;
        line-height: 19px;
    }

    .section-home-icon {
        margin-bottom: 20px;
        margin-top: -60px;
        width: 80px;
        height: 80px;
    }

    .step-flex {
        display: flex;
        align-items: center;
    }

    .section-step h2 {
        font-size: 18px;
        line-height: 24px;
    }

    .section-step h4 {
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        width: 90%;
    }

    .section-step-icon {
        width: 120px;
        margin-top: -69px;
    }

    .section-step-img {
        width: auto;
        height: 120px;
        /* border: 1px solid red; */
        margin: 0;
    }

    .section-step .card-body p {
        font-size: 18px;
        line-height: 24px;
        text-align: left;
        margin-left: 15px;
    }
}
