.navbar {
    min-height: 10vh;
    background: transparent;
    font-family: "Red Hat Display", sans-serif;
}

.navbar-nav a {
    color: #534293;
    font-size: 16px;
    font-weight: 400;
}

.navbar-nav a:hover {
    color: #534293;
    /* font-weight: 600; */
    text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
}

.nav-item {
    margin-right: 40px;
}

.nav-link.active {
    font-weight: 600;
}

.navbar.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}
