.robot-hero {
    background: url("../images/jumbotron-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    /* padding-top: 10vh; */
    position: relative;
    overflow: hidden;
    font-family: "Red Hat Display", sans-serif;
}

.robot-hero-overlay {
    background: #534293;
    border-radius: 50px;
    transform: rotate(24.25deg);
    position: absolute;
    width: 1078.54px;
    height: 1078.54px;
    left: -410.34px;
    top: -70px;
    z-index: 1;
}

.robot-hero-txt {
    z-index: 2;
    color: white;
    position: relative;
    top: 30vh;
    left: 10vh;
    /* border: 1px solid red; */
}

.robot-hero-txt h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    width: 30%;
}

.robot-hero-txt h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    width: 25%;
}

/* ======================== ROBOT HERO END ======================== */

.robot-menu-container {
    font-family: "Red Hat Display", sans-serif;
}

.customize_solution {
    margin-top: -50px;
    position: relative;
    z-index: 2;
    /* border: 1px solid red; */
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    justify-content: space-around;
}

ul.tabs li {
    background: none;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s ease all;
    width: 33%;
}

ul.tabs li span {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

ul.tabs li.current {
    color: #222;
    transition: 0.3s ease all;
}
ul.tabs li.current span {
    color: white;
    background: #cc41ff;
    transition: 0.3s ease all;
}
.tab-content {
    display: none;
    padding: 15px;
    transition: 0.3s ease all;
}
.tab-content.current {
    display: inherit;
    transition: 0.3s ease all;
}

/*------ease effect------*/
.nav-justified > li {
    float: none;
}
.nav-justified > li span {
    width: 100%;
}
.customize_solution .nav-justified > li {
    float: none;
}
.customize_solution span.ease-effect {
    text-decoration: none;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s ease all;
}
.customize_solution span.ease-effect:hover,
.customize_solution span.ease-effect:focus,
.customize_solution ul.tabs li.current span:hover,
.customize_solution ul.tabs li.current span:focus {
    background: #cc41ff;
    color: #fff;
    transition: 0.3s ease all;
}
.customize_solution span.ease-effect {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 14px 10px;
    position: relative;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 20px;
    line-height: 24 px;
    text-align: center;
    color: #534293;
}

/* ======================== MENU ROBOT END ======================== */

.top-robot-title,
.robot-detail-title,
.robot-compare-title {
    width: 60%;
    margin: 20px auto 50px auto;
    font-size: 48px;
    line-height: 64px;
    font-weight: 700;
    color: #534293;
}

.robot-detail-filter {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

.robot-detail-search {
    width: 300px;
}

.top-robot-card.card {
    background: #f8f8f8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: transparent;
    height: 119px;
    width: auto;
}

.top-robot-card-ten.card {
    background: #f8f8f8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: transparent;
    height: 100px;
    width: auto;
}

.top-robot-card-ten .card-body {
    display: flex;
    align-items: center;
}

.top-robot-desc {
    width: 45%;
    margin-left: auto;
    padding: 5px;
    align-self: center;
}

.top-robot-desc h5 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #534293;
}

.top-robot-desc p {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: #534293;
}

.top-robot-card .card-body {
    display: flex;
    align-items: center;
}

.top-robot-img {
    margin-top: -60px;
    margin-right: 15px;
}

.top-robot-rank {
    /* border: 1px solid red; */
    position: absolute;
    top: -35px;
    right: -15px;
}

.top-robot-rank-2 {
    position: absolute;
    top: -15px;
    right: -15px;
}

.top-robot-number {
    position: absolute;
    top: 30px;
    right: 0px;
    font-weight: 700;
    font-size: 42px;
    /* line-height: 85px; */
    color: #ffffff;
}

.top-robot-card h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #534293;
}

.top-robot-btn {
    background: #534293;
    border: 2px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 15px 25px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;

    margin-left: auto;
    margin-right: 80px;
}

.search-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-box {
    width: 150px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: transparent;
    margin-left: 15px;
}

.filter-box:focus {
    outline: none;
}

.search {
    position: relative;
}

.search-box {
    width: 280px;
    padding: 20px 20px 20px 50px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: transparent;
}

.search-box:focus {
    outline: none;
}

.search-icon {
    position: absolute;
    display: block;
    top: 25px;
    left: 15px;
    color: #9a9a9a;
}

.robot-detail-slider {
    margin-top: 100px;
}

.robot-detail-slider-img {
    margin-top: -70px;
    width: 200px;
}

.robot-detail-slider-bg {
    background: url("../images/card-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 450px;
    /* text-align: right; */
    /* border: 1px solid red; */
    width: 100%;
}

.robot-detail-slider-bg h3 {
    text-align: left;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #ffffff;
    margin-left: 25px;
}

.robot-detail-slider-bg p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-align: left;
    /* margin-left: 25px; */
}

.robot-detail-slider-btn {
    background: #534293;
    border: 2px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 231.27px;
    padding: 10px 0;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

.robot-stat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 90%;
    margin: 5px auto;
}

.progress {
    width: 60%;
    margin-top: -15px;
    background: #ffffff !important;
    border-radius: 20px !important;
    /* margin-left: 20px; */
    margin-left: auto;
    margin-right: 10px;
}

.progress-bar {
    /* width: 70%; */
    background: linear-gradient(
        90.02deg,
        #cc41ff 31.54%,
        rgba(204, 65, 255, 0) 120.87%
    ) !important;
    border-radius: 20px !important;
}

.pagination {
    margin: 30px auto;
}

.pagination .page-link {
    border: transparent;
    color: #534293;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
}

.pagination .page-link:hover {
    text-decoration: none;
    color: #534293;
    border-radius: 10px;
}

.pagination .active .page-link {
    background-color: #534293 !important;
    border-radius: 10px;
}

.robot-compare-search {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.compare-btn {
    text-align: center;
    margin-top: 50px;
}

.compare-btn button {
    background: #534293;
    width: 231.27px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 15px 25px;
}

.robot-comparison {
    margin-top: 50px;
}

.robot-comparison h3 {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;

    color: #534293;
}

.robot-comparison-card {
    margin: 25px auto;
    row-gap: 25px;
}

.robot-comparison-card .card {
    background: #f8f8f8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: transparent;
    padding: 5px 25px;
}

.robot-comparison-card .card-body {
    display: flex;
    justify-content: space-between;
}

.name-robot-compare {
    background-image: url("../images/compare-small.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    /* width: 100%; */
    height: 120px;
    position: relative;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -50px;
}

.name-robot-compare h5 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;

    margin-top: 30px;
}

@media screen and (max-width: 1366px) {
    .robot-hero-overlay {
        transform: rotate(27.25deg);
        left: -580.34px;
    }

    .robot-hero-txt {
        top: 30vh;
        left: 10vh;
        /* border: 1px solid red; */
    }

    .robot-hero-txt h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        width: 40%;
    }

    .robot-hero-txt h5 {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: justify;
        width: 35%;
    }
}
