@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");

@import "./navbar.css";
@import "./homepage.css";
@import "./robot.css";
@import "./subscription.css";
@import "./footer.css";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
}
